@model ChatAppWithSignalR.ViewModels.CreateRoomViewModel

<div class="room-form">
    <form asp-action="CreateRoom" asp-controller="Room" method="post">
        @Html.AntiForgeryToken()

        <label for="RoomName" class="text-white">Nazwa pokoju:</label>
        <input type="text" id="chatName" name="RoomName" placeholder="Wpisz nazwę pokoju" required />

        <div class="checkbox mb-3">
            <label for="HasPassword" class="form-label">
                <input type="checkbox" class="form-check-input" id="hasPassword" name="HasPassword" value="false" />
                <strong class="text-white">Dodać hasło?</strong>
            </label>
        </div>

        <div id="pass-section" class="pass-section" hidden>
            <label for="Password">Hasło:</label>
            <input type="password" id="Password" name="Password" placeholder="Wpisz hasło" />
        </div>

        <div class="flex">
            <button type="submit">Zapisz</button>
            <button type="button" class="cancel-button" onclick="document.getElementById('createRoom').style.display='none';">Anuluj</button>
        </div>
    </form>
</div>


<style>
    .pass-section{
        display: flex;
        flex-direction: column;
    }

    .room-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #172a46;
        border-radius: 8px;
        box-shadow: 0 4px 40px rgba(10, 25, 47, 1);
        background-color: #172a46;
    }

    .room-form label {
        font-weight: bold;
        margin-bottom: 8px;
        color: #333;
    }

    .room-form input[type="text"],
    .room-form input[type="password"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 16px;
        font-size: 1rem;
        width: 250px;
    }

    .room-form button {
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

    .room-form button[type="submit"] {
        background-color: #4CAF50;
        color: white;
    }

    .room-form button[type="submit"]:hover {
        background-color: #45a049;
    }

    .cancel-button {
        background-color: #f44336;
        color: white;
        margin-left: auto;
    }

    .cancel-button:hover {
        background-color: #e53935;
    }
    .flex{
        display: flex;
    }
</style>
