@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplikacja na projekt zespołowy</h1></br>
    <p><b>Sebastian Pociask - w64182</b></p>
    <p><b>Rafał Paśko - w64882</b></p>
</div>
