@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Aplikacja na projekt zespołowy</h1></br>
    <p class="text-white"><b>Sebastian Pociask - w64182</b></p>
    <p class="text-white"><b>Rafał Paśko - w64882</b></p>
</div>
